# Site settings
title: mdp4rv3z's|Blog
url: "tuxb0y.github.io"    
baseurl: " " 

# Your information
author: mdp4rv3z
avatar: "https://avatars2.githubusercontent.com/u/23025427?s=460&v=4"
profile: n00b | still nobody | infosec 
#twitter_username: twitter_username
#github_username:  github_username
profile_links:
  Twitter: "https://www.twitter.com/mdp4rv3z"
  GitHub: "https://github.com/mdp4rv3z"


excerpt_separator: <!--more-->

header:
  links:             # Links on the header. Link to in-site page with a slash as prefix
    About: /about/
    Category: /category/
    Achievements: /achievements/

permalink: /archivers/:title
plugins:
 - jekyll-paginate
 - jekyll-gist
 - jemoji

# Build settings
paginate: 5
paginate_path: "page:num"

highlighter: rouge
markdown: kramdown

# https://jekyllrb.com/docs/configuration/#precedence
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

kramdown:
  input: GFM
  syntax_highlighter: rouge
  math_engine: mathjax
